
<div class="container" style="margin-top: 100px; margin-bottom: 100px;">
  <div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6 centered">
      <h1>Get your Group Going...</h1>
    </div>
    <div class="col-md-3">

    </div>
  </div>
    <div class="row">
      <div class="col-md-3">

        </div>
        <div class="col-md-6">
          <div class="row step">

              <div class="col-md-2 activestep" onclick="javascript: resetActive(event);">
                  <span class="fa fa-sign-in"></span>
                  <p>Sign up</p>
              </div>
              <div class="col-md-2" onclick="javascript: resetActive(event);">
                  <span class="fa fa-users"></span>
                  <p>Group up</p>
              </div>
              <div class="col-md-2" onclick="javascript: resetActive(event);">
                  <span class="fa fa-pencil"></span>
                  <p>Plan</p>
              </div>
              <div class="col-md-2" onclick="javascript: resetActive(event);">
                  <span class="fa fa-thumbs-up"></span>
                  <p>Vote</p>
              </div>
              <div class="col-md-2" onclick="javascript: resetActive(event);">
                  <span class="fa fa-paper-plane"></span>
                  <p>Go</p>
              </div>

          </div>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>
